.crime-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  margin: auto;
  text-align: center;
  width: 300px;
  position: relative;
}

.all-container {
  display: flex;
  flex-direction: row;
}

.crimes-container, .player-container, .position-container {
  background-size: initial;
  color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: scroll;
  height: 300px;
  width: 420px;
}

.heading {
  color: black;
}