.nav-bar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.nav {
  color: white;
  font-weight: bolder;
  height: 25px;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 90%;
}

.nav:focus {
  background-color: #013369;
  border-radius: 20px;
}