.main { 
  display: grid; 
  grid-template-columns: repeat(5, 20vw); 
  grid-template-rows: repeat(5, 20vh); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
 }

  .header { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    grid-area: 1 / 2 / 1 / 6; 
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  } 

  .logo {
    height: 120px;
    margin: auto 10px;
    width: 120px;
  }

  h1 {
    text-align: center;
    margin: auto 10px;
  }

  .crimes { 
    grid-area: 2 / 2 / 2 / 6; 
    margin: 10px 0px;
  } 

  .teams { 
    background-color: #D50A0A;
    grid-area: 1 / 1 / 8 / 2;
  }

  .team-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .team-name {
    text-align: center;
    margin: auto 15px;
  }

  .team-logo {
    height: 80px;
    margin: auto 15px;
    width: 80px;
  }

  .arrests { 
    grid-area: 4 / 2 / 6 / 6; 
    margin: 10px 0px;
  }