.main { 
  display: grid; 
  grid-template-columns: repeat(5, 20vw); 
  grid-template-rows: repeat(5, 20vh); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
 }

  .header { 
    grid-area: 1 / 2 / 1 / 6; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

  h1 {
    text-align: center;
  }

  .crimes { 
    grid-area: 2 / 2 / 2 / 6; 
  } 

  .teams { 
    background-color: #D50A0A;
    grid-area: 1 / 1 / 8 / 2;
  }

  .team-name {
    text-align: center;
  }

  .arrests { 
    grid-area: 4 / 2 / 6 / 6; 
  }